<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en-AU" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-AU" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-AU" class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-AU">
<!--<![endif]-->

<head>
  <title>An example article</title>

  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta name="ContentId" content="8103416" />
  <meta name="ABC.site" content="ABC News" />
  <meta name="ABC.editorialGenre" content="News &amp; Current Affairs" />
  <meta name="ABC.tags" content="child-abuse;family-and-children;family" />
  <meta name="ABC_WCMS_sitesearch_include" content="true" />
  <meta name="ABC.productionUnit" content="Interactive Digital Storytelling team" />
  <meta name="ABC.ContentType" content="CMArticle" />
  <meta name="replacement-title" content="An example article" />

  <link rel="alternate" data-abc-platform="mobile" media="only screen and (max-width: 640px)" href="http://mobile.abc.net.au/news/2017-10-19/you-decide-would-you-remove-these-children/8103416"
  />
  <link media="screen, projection" rel="stylesheet" type="text/css" href="http://www.abc.net.au/res/bundles/2.0.5/styles/abc.bundle.2.0.5.min.css"
  />
  <link rel="stylesheet" type="text/css" href="http://www.abc.net.au/res/sites/news/styles/min/abc.news.css?2017-09-15b" />
  <!--[if lte IE 7]>
          <link rel="stylesheet" type="text/css" href="http://www.abc.net.au/res/sites/news/styles/yaml/core/slim_iehacks.css" media="screen, projection"/>
         <![endif]-->

  <script type="text/javascript" src="/news/ajax/45902/managed.js"></script>
  <!--[if lte IE 9]><script type="text/javascript" src="http://www.abc.net.au/res/libraries/es5shim/4.1.0/es5-shim.min.js"></script><![endif]-->
  <!--[if lt IE 9]><script type="text/javascript" src="http://www.abc.net.au/res/bundles/2.0.5/scripts/html5shiv.js"></script><![endif]-->
  <script type="text/javascript" src="http://www.abc.net.au/res/libraries/jquery/jquery-1.11.3.min.js"></script>
  <!--[if lte IE 9]><script type="text/javascript" src="http://www.abc.net.au/res/libraries/iecors/jquery.iecors.min.js"></script><![endif]-->
  <script type="text/javascript" src="http://www.abc.net.au/res/libraries/location/abc.location-1.latest.min.js"></script>
  <script type="text/javascript" src="http://www.abc.net.au/res/bundles/platforms/abc.bundle.platforms-1.0.min.js"></script>
  <script type="text/javascript" src="http://www.abc.net.au/res/libraries/jquery/plugins/jquery.viewport.mini.js"></script>
  <script type="text/javascript" src="http://www.abc.net.au/res/sites/news/scripts/min/abc.news.js?2017-09-27b"></script>
  <script type="text/javascript" src="/cm/code/8724582/abc.news.config-v5.js" async></script>
</head>

<body class="platform-standard news story_page">
  <nav id="abcHeader" class="global" role="navigation" aria-label="ABC Network Navigation" data-resourcebase="http://www.abc.net.au/res/bundles/2.0.5/"
    data-scriptsbase="http://www.abc.net.au/res/bundles/2.0.5/scripts/" data-version="2.0.5">
    <a class="abcLink home" href="http://www.abc.net.au/" data-mobile="http://mobile.abc.net.au/">
      <img src="http://www.abc.net.au/res/bundles/2.0.5/images/logo-abc@2x.png" width="72" height="18" alt="" />ABC Home</a>
    <div class="sites">
      <a class="controller" href="javascript:;" aria-controls="abcNavSites">
        <img src="http://www.abc.net.au/res/bundles/2.0.5/images/icon-menu-grey@1x.gif" data-src="images/icon-menu-grey@1x.gif" data-hover="images/icon-menu-blue@1x.gif"
          class="icon" alt="" />
        <span class='text'>
          <span>Open</span> Sites
          <span>menu</span>
        </span>
      </a>
      <div id="abcNavSites" class="menu" role="menu" aria-expanded="false">
        <ul>
          <li class='odd'>
            <a class="abcLink" role="menuitem" href="http://www.abc.net.au/" data-mobile="http://mobile.abc.net.au/">ABC Home</a>
          </li>
          <li>
            <a class="abcLink" role="menuitem" href="http://www.abc.net.au/news/" data-mobile="http://mobile.abc.net.au/news/">News</a>
          </li>
          <li class='odd'>
            <a class="abcLink" role="menuitem" href="http://www.abc.net.au/iview/" data-mobile="http://www.abc.net.au/iview/">iview</a>
          </li>
          <li>
            <a class="abcLink" role="menuitem" href="http://www.abc.net.au/tv/" data-mobile="">TV</a>
          </li>
          <li class='odd'>
            <a class="abcLink" role="menuitem" href="http://www.abc.net.au/radio/" data-mobile="http://www.abc.net.au/radio/">Radio</a>
          </li>
          <li>
            <a class="abcLink" role="menuitem" href="http://www.abc.net.au/children/" data-mobile="http://mobile.abc.net.au/children/">Kids</a>
          </li>
          <li class='odd'>
            <a class="abcLink" role="menuitem" href="https://shop.abc.net.au/" data-mobile="https://shop.abc.net.au/">Shop</a>
          </li>
          <li>
            <a class="abcLink more" role="menuitem" href="http://www.abc.net.au/more/" data-mobile="http://www.abc.net.au/more/">More</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="accounts">
      <span data-src="images/icon-user-grey@1x.png" data-hover="images/icon-user-blue@1x.png"></span>
    </div>
    <a class="abcLink search" href="http://search.abc.net.au/s/search.html?collection=abcall_meta&form=simple" data-mobile="http://mobile.search.abc.net.au/s/search.html?collection=abcall_meta&form=simple">
      <span>Search</span>
      <img src="http://www.abc.net.au/res/bundles/2.0.5/images/icon-search-grey@1x.png" data-hover="images/icon-search-blue@1x.png"
        class="icon" alt="" />
    </a>
  </nav>

  <div class="page_margins">
    <div id="header" class="header">
      <div class="brand">
        <a href="/news/">
          <img class="print" src="/cm/lb/8212706/data/news-logo-2017---desktop-print-data.png" alt="ABC News" width="387" height="100"
          />
          <img class="noprint" src="/cm/lb/8212704/data/news-logo2017-data.png" alt="ABC News" width="242" height="80" />
        </a>
      </div>
      <a href="/news/australia/" class="location-widget">Australia</a>
      <a href="/news/weather/" class="weather-widget">Weather</a>
    </div>
    <div id="nav" class="nav">
      <ul id="primary-nav">
        <li id="n-news" class="active">
          <a href="/news/">News Home</a>
        </li>
        <li id="n-justin" class="">
          <a href="/news/justin/">Just In</a>
        </li>
        <li id="n-australia" class="">
          <a href="/news/australia/">Australia</a>
        </li>
        <li id="n-world" class="">
          <a href="/news/world/">World</a>
        </li>
        <li id="n-business" class="">
          <a href="/news/business/">Business</a>
        </li>
        <li id="n-sport" class="">
          <a href="/news/sport/">Sport</a>
        </li>
        <li id="n-science" class="">
          <a href="/news/science/">Science</a>
        </li>
        <li id="n-arts-culture" class="">
          <a href="/news/arts-culture/">Arts</a>
        </li>
        <li id="n-analysis-and-opinion" class="">
          <a href="/news/analysis-and-opinion/">Analysis</a>
        </li>
        <li id="n-factcheck" class="">
          <a href="/news/factcheck/">Fact Check</a>
        </li>
        <li id="n-programs" class="">
          <a href="/news/programs/">Programs</a>
        </li>
        <li id="n-more" class="">
          <a href="/news/more/">More</a>
        </li>
      </ul>
    </div>

    <div class="page section">
      <div class="subcolumns">
        <div class="c75l">
          <div class="article section">
            <div class="tools">
              <a class="button" href="http://www2b.abc.net.au/EAF/View/MailToQuery.aspx?http://www.abc.net.au/news/2017-10-19/you-decide-would-you-remove-these-children/8103416">
                <span>Email</span>
              </a>
            </div>

            <h1>An example article</h1>
            <div class="byline">
              <div class="bylinepromo">
                <a href="">Interactive Digital Storytelling team</a>
              </div>
              By
              <a href="" target="_self" title="">
                <%= authorName %>
              </a>
            </div>

            <p class="published">
              Updated
              <span class="timestamp">
                <%= new Date().toString() %>
              </span>
            </p>

            <a name="header"> </a>
            <a name="endheader"> </a>


            <!-- put your story content here -->
            <p>This is the article content.</p>
            <!-- and that's it -->


            <h2>Credits</h2>
            <ul>
              <li>Reporter:
                <%= authorName %>
              </li>
              <li>Illustrator and designer:
                <%= authorName %>
              </li>
              <li>Developer:
                <%= authorName %>
              </li>
              <li>Editors:
                <%= authorName %>
              </li>
            </ul>

            <% if (odyssey) { %>
              <div class="inline-content html-fragment full">
                <div class="init-interactive" data-no-support-msg="true" data-scripts="http://www.abc.net.au/res/sites/news-projects/odyssey/<%= odyssey %>/index.js"></div>
                <style>
                  html[veiled] {
                    overflow: hidden;
                    max-height: 100%;
                  }

                  html:not([veiled])>body {
                    will-change: opacity;
                    transition: opacity cubic-bezier(.25, .46, .45, .94) 1s;
                  }

                  html[veiled]>body {
                    opacity: 0;
                    pointer-events: none;
                  }
                </style>
                <script>
                  (function () {
                    var html = document.documentElement;
                    var timeout;
                    window.unveil = function () {
                      clearTimeout(timeout);
                      html.removeAttribute('veiled');
                    };
                    html.setAttribute('veiled', '');
                    timeout = setTimeout(window.unveil, 2000);
                    window.addEventListener('odyssey:api', unveil);
                  })();
                </script>
              </div>
            <% } %>

            <% if (parallax) { %>
              <div class="inline-content html-fragment full">
                <div 
                  class="init-interactive" 
                  data-scripts="http://www.abc.net.au/res/sites/news-projects/odyssey-parallax/<%= parallax %>/index.js"
                  data-no-support-msg="true"></div>
              </div>
            <% } %> 

            <% if (scrollyteller) { %>
              <div class="inline-content html-fragment full">
                <div 
                  class="init-interactive" 
                  data-scripts="http://www.abc.net.au/res/sites/news-projects/odyssey-scrollyteller/<%= scrollyteller %>/index.js"
                  data-no-support-msg="true"></div>
              </div>
            <% } %> 
            
            <div class="inline-content html-fragment full">
              <div class="init-interactive" data-scripts="index.js"
                data-no-support-msg="true"></div>
            </div>
            
            <p class="topics">
              <strong>Topics:</strong>
              <a href="/news/topic/child-abuse">child-abuse</a>,
              <a href="/news/topic/family-and-children">family-and-children</a>,
              <a href="/news/topic/family">family</a>,
              <a href="/news/topic/australia">australia</a>
            </p>

            <p class="published">
              First posted
              <span class="timestamp">
                <%= new Date().toString() %>
              </span>
            </p>
          </div>
        </div>
        <div class="c25r sidebar">
          <div class="section promo">
            <div class="inner">
              <h2><span>Support Services</span></h2>
              <h3><a href="http://www.1800respect.org.au" target="_self" title="">1800 Respect</a></h3>
              <ul>
                <li>National counselling helpline</li>
                <li>Telephone: 1800 737 732</li>
              </ul>
              <h3><a href="http://www.blueknot.org.au" target="_self" title="">Blue Knot Foundation</a></h3>
              <ul>
                <li>Counselling and support for adult survivors of child abuse</li>
                <li>Telephone: 1300 657 380</li>
              </ul>
              <h3><a href="http://www.bravehearts.org.au" target="_self" title="">Bravehearts</a></h3>
              <ul>
                <li>Counselling and support for survivors of child sexual abuse</li>
                <li>Telephone: 1800 272 831</li>
              </ul>
              <h3><a href="http://www.childwise.net" target="_self" title="">Child Wise</a></h3>
              <ul>
                <li>Counselling provider</li>
                <li>Telephone: 1800 991 099</li>
              </ul>
              <h3><a href="http://www.lifeline.org.au" target="_self" title="">Lifeline</a></h3>
              <ul>
                <li>24-hour crisis support and suicide prevention</li>
                <li>Telephone: 13 11 14</li>
              </ul>
              <h3><a href="http://www.clan.org.au/" target="_blank" title="">Care Leavers Australia Network</a></h3>
              <ul>
                <li>1800 008 774</li>
              </ul>
              <h3><a href="http://www.partnerspeak.org.au/" target="_blank" title="">PartnerSPEAK</a></h3>
              <ul>
                <li>Peer support provider</li>
              </ul>
              <h3><a href="http://www.childabuseroyalcommission.gov.au/support/support-services/" target="_self" title="">Support services in your state</a></h3>
            </div>
          </div>
          <div class="section localised-top-stories">
            <div class="inner">
              <h2>Top Stories</h2>
              <ul class="headlines">
                <li>
                  <a href="/news/2017-10-19/you-decide-would-you-remove-these-children/8103416">You decide: Would you remove these children from their families?</a>
                </li>
                <li>
                  <a href="/news/2017-10-19/trump-sends-cheque-to-family-of-war-dead-after-june-promise/9065406">Trump&#039;s $25k cheque for slain soldier&#039;s family &#039;sent&#039; after family questions whereabouts</a>
                </li>
                <li>
                  <a href="/news/2017-10-19/ablett-heads-home-to-cattery-stringer-to-bombers-from-bulldogs/9065702">
                    <em>SPORT</em>
                    Ablett heads home to the Cattery right at the end of AFL trade window</a>
                </li>
                <li>
                  <a href="/news/2017-10-19/search-for-missing-divers-recovery-operation/9064734">Emotional reunion with wife for trawler capsize survivor in central Queensland </a>
                </li>
                <li>
                  <a href="/news/rural/2017-10-19/concern-energy-policy-will-stymie-growth-in-battery-storage/9061948">Battery storage could be hard hit by new energy policy </a>
                </li>
                <li>
                  <a href="/news/2017-10-19/employment-boom-bypassing-entry-level-job-seekers-anglicare-says/9062620">Mitchell is looking for a job — any job — but he&#039;s been unemployed for a year</a>
                </li>
                <li>
                  <a href="/news/2017-10-19/salim-mehajer-insurance-fraud/9064934">Salim Mehajer investigated over fraudulent insurance claims</a>
                </li>
                <li>
                  <a href="/news/2017-10-19/googles-new-ai-learns-without-human-input-to-win-complex-game/9065562">Google&#039;s new AI learns without human input to win complex Chinese game</a>
                </li>
                <li>
                  <a href="/news/2017-10-19/mckayla-maroney-alleges-sexually-assaulted-by-team-doctor/9065060">
                    <em>SPORT</em>
                    Gymnast McKayla Maroney says team doctor sexually abused her for years</a>
                </li>
                <li>
                  <a href="/news/2017-10-19/giant-robot-fight-ends-in-disappointing-chainsaw-massacre/9065168">Chainsaws at yawn: MegaBot duel a giant fizzer</a>
                </li>
                <li>
                  <a href="/news/2017-10-19/politics-live-october-19/9064724">Live: Labor ridiculed over carbon price claim in Question Time</a>
                </li>
                <li>
                  <a href="/news/2017-10-19/westpac-to-refund-200000-customers-after-discount-blunder/9066574">Westpac to refund $65m to 200,000 customers after discounts blunder</a>
                </li>
                <li>
                  <a href="/news/2017-10-19/greens-xenophon,-lambie-want-crown-casino-senate-inquiry/9065654">Wilkie accuses major parties of &#039;grovelling to the pokies industry&#039;</a>
                </li>
                <li>
                  <a href="/news/2017-10-19/richard-vincec-sentenced-over-fatal-punch-leaving-cherry-bar/9065218">Man jailed after kiss leads to deadly punch after leaving Melbourne bar</a>
                </li>
                <li>
                  <a href="/news/2017-10-19/black-tuesday-1987-share-crash-three-decades-on/9053796">&#039;Skid-marks on the pathway of progress&#039;: The crash that killed the entrepreneur</a>
                </li>
                <li>
                  <a href="/news/2017-10-19/photographer-wins-international-recognition-for-migaloo-photo/9062470">Migaloo snap off coast wins international praise for Aussie photographer</a>
                </li>
                <li>
                  <a href="/news/2017-10-19/lisa-wilkinson-gender-pay-gap-your-stories/9063812">Ever &#039;pulled a Lisa Wilkinson&#039;? Here are your stories on the gender pay gap</a>
                </li>
                <li>
                  <a href="/news/2017-10-19/new-subs-fleets-promised-stealth-technology-questioned/9058858">Navy&#039;s new stealth submarines might not be so stealthy after all</a>
                </li>
                <li>
                  <a href="/news/2017-10-19/sleep-why-we-need-it-and-what-happens-when-we-dont-get-enough/9062534">Why our brain needs sleep — and what happens when we don&#039;t get enough</a>
                </li>
                <li>
                  <a href="/news/2017-10-19/what-el-nino-la-nina-mean-australian-weather/9053464">What El Nino and La Nina actually mean for Australian weather</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="section graphic">
            <a href="http://m.me/abcnews.au?ref=welcomefromABCNewshomepage">
              <img src="/cm/lb/7996774/thumbnail.png" alt="Start a chat with ABC News on Facebook Messenger" title="Start a chat with ABC News on Facebook Messenger"
                class="" width="220" />
            </a>
          </div>
          <div class="connect-with-abc section promo">
            <h2>Connect with ABC News</h2>
            <ul>
              <li>
                <a href="http://www.facebook.com/abcnews.au" target="_self" title="">
                  <span class="valign-helper"></span>
                  <img src="/cm/lb/6388890/data/facebook-data.png" alt="ABC News on Facebook" title="ABC News on Facebook" width="30" height="30"
                  />
                </a>
              </li>
              <li>
                <a href="http://instagram.com/abcnews_au" target="_self" title="">
                  <span class="valign-helper"></span>
                  <img src="/cm/lb/6389068/data/instagram-data.png" alt="ABC News on Instagram" title="ABC News on Instagram" width="32" height="31"
                  />
                </a>
              </li>
              <li>
                <a href="http://www.twitter.com/abcnews" target="_self" title="">
                  <span class="valign-helper"></span>
                  <img src="/cm/lb/6388894/data/twitter-data.png" alt="ABC News on Twitter" title="ABC News on Twitter" width="32" height="27"
                  />
                </a>
              </li>
              <li>
                <a href="http://www.youtube.com/newsonabc" target="_self" title="">
                  <span class="valign-helper"></span>
                  <img src="/cm/lb/6389052/data/youtube-data.png" alt="ABC News on YouTube" title="ABC News on YouTube" width="50" height="22"
                  />
                </a>
              </li>
              <li>
                <a href="/news/2016-06-16/what-is-snapchat-and-why-is-the-abc-on-it/7517174" target="_self" title="">
                  <span class="valign-helper"></span>
                  <img src="/cm/lb/8208710/data/snapchat-data.jpg" alt="ABC News on Snapchat" title="ABC News on Snapchat" width="31" height="30"
                  />
                </a>
              </li>
              <li>
                <a href="https://apple.news/TsieN9U-WQ0SZbtP1VTI4uQ" target="_self" title="">
                  <span class="valign-helper"></span>
                  <img src="/cm/lb/8458084/data/applenews-data.png" alt="ABC News on Apple News" title="ABC News on Apple News" width="32"
                    height="32" />
                </a>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="section graphic">
            <a href="/news/feeds/">
              <img src="/cm/lb/4745996/thumbnail/news-podcasts-sidebar-graphic-promo-thumbnail.jpg" alt="News Podcasts" title="News Podcasts"
                class="" width="220" />
            </a>
          </div>
          <div class="section promo">
            <div class="inner">
              <h2><a href="/news/contact/tip-off/"><span>Got a news tip?</span></a></h2>
              <p>If you have inside knowledge of a topic in the news,
                <a href="/news/contact/tip-off/" target="_self" title="">contact the ABC</a>.</p>
            </div>
          </div>
          <div class="related">
            <div class="newsmail-signup card">
              <h2>News in your inbox</h2>
              <span class="spiel">Top headlines, analysis, breaking&nbsp;alerts</span>
              <div class="form main"></div>
              <a href="/news/alerts/subscribe/">More info</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page section featured-scroller featured-scroller-4 dark">
      <div class="section">
        <h2>Features</h2>
      </div>
      <div class="inner">
        <ol class="subcolumns">
          <li class="c25l">
            <div class="section">
              <h2>
                <a href="/news/2017-10-19/anatomy-of-a-market-crash:-a-history-of-irrational-behaviour/9063908" class="thumb">
                  <img src="http://www.abc.net.au/news/image/9063948-16x9-220x124.jpg" alt="A man looks up to the board at the Australian Securities Exchange."
                    title="A man looks up to the board at the ASX" width="220" height="124" />
                  <span class="story"></span>
                  <span class="label">
                    Anatomy of a market crash</span>
                  <span class="border"></span>
                </a>
              </h2>
              <p class="title">
                By business editor
                <a href="/news/ian-verrender/5261264" target="_self" title="">Ian Verrender</a>
              </p>
              <p>Debt was the root cause of the 1987 stock market crash, just as it was a decade ago during the GFC. But debt
                levels today dwarf those of previous crises.</p>
            </div>
          </li>
          <li class="c25l">
            <div class="section">
              <h2>
                <a href="/news/2017-10-19/national-energy-guarantee-trifecta-missing-detail/9063500" class="thumb">
                  <img src="http://www.abc.net.au/news/image/9057668-16x9-220x124.jpg" alt="Malcolm Turnbull sits in the House of Reps, with his palms pressed together in front of his pursed lips. "
                    title="Malcolm Turnbull in the House of Representatives" width="220" height="124" />
                  <span class="story"></span>
                  <span class="label">
                    Missing detail in NEG plan</span>
                  <span class="border"></span>
                </a>
              </h2>
              <p class="title">
                By
                <a href="/news/stephen-long/167162" target="_self" title="">Stephen Long</a>
              </p>
              <p>It's impossible to make a definitive judgement on the National Energy Guarantee because the policy, made on
                the run with obvious haste, is light on detail.</p>
            </div>
          </li>
          <li class="c25l">
            <div class="section">
              <h2>
                <a href="/news/2017-10-18/xi-jinping-had-something-for-everyone-but-little-detail/9063882" class="thumb">
                  <img src="http://www.abc.net.au/news/image/9063952-16x9-220x124.jpg" alt="Chinese President Xi Jinping speaks surrounded by members of the Communist Party."
                    title="Xi Jinping" width="220" height="124" />
                  <span class="story"></span>
                  <span class="label">
                    Xi speech light on detail</span>
                  <span class="border"></span>
                </a>
              </h2>
              <p class="title">
                By China correspondent
                <a href="/news/matthew-carney/6634066" target="_self" title="">Matthew Carney</a>
              </p>
              <p>Chinese President Xi Jinping has promised to strengthen the military, boost prosperity and reduce disparities
                in wealth. But there is little detail on how he would do it.</p>
            </div>
          </li>
          <li class="c25r">
            <div class="section">
              <h2>
                <a href="/news/2017-10-19/dave-hughes-takes-pay-cut-for-female-co-host/9064950" class="thumb">
                  <img src="http://www.abc.net.au/news/image/9065454-16x9-220x124.png" alt="KIIS FM radio host Kate Langbroek and Dave Hughes pose for photo. "
                    title="Kate Langbroek and Dave Hughes" width="220" height="124" />
                  <span class="story"></span>
                  <span class="label">
                    Would you take a pay cut? </span>
                  <span class="border"></span>
                </a>
              </h2>
              <p>It is one thing for high profile media personality to take a pay cut for a female colleague, but would you?
              </p>
            </div>
          </li>
        </ol>
      </div>
    </div>
    <div id="footer-stories" class="page section">
      <div class="subcolumns">
        <div class="c25l">
          <div class="section">
            <h2>Top Stories</h2>
            <ul class="headlines">
              <li>
                <a href="/news/2017-10-19/you-decide-would-you-remove-these-children/8103416">You decide: Would you remove these children from their families?</a>
              </li>
              <li>
                <a href="/news/2017-10-19/trump-sends-cheque-to-family-of-war-dead-after-june-promise/9065406">Trump&#039;s $25k cheque for slain soldier&#039;s family &#039;sent&#039; after family questions whereabouts</a>
              </li>
              <li>
                <a href="/news/2017-10-19/ablett-heads-home-to-cattery-stringer-to-bombers-from-bulldogs/9065702">Ablett heads home to the Cattery right at the end of AFL trade window</a>
              </li>
              <li>
                <a href="/news/2017-10-19/search-for-missing-divers-recovery-operation/9064734">Emotional reunion with wife for trawler capsize survivor in central Queensland </a>
              </li>
              <li>
                <a href="/news/rural/2017-10-19/concern-energy-policy-will-stymie-growth-in-battery-storage/9061948">Battery storage could be hard hit by new energy policy </a>
              </li>
              <li>
                <a href="/news/2017-10-19/employment-boom-bypassing-entry-level-job-seekers-anglicare-says/9062620">Mitchell is looking for a job — any job — but he&#039;s been unemployed for a year</a>
              </li>
              <li>
                <a href="/news/2017-10-19/salim-mehajer-insurance-fraud/9064934">Salim Mehajer investigated over fraudulent insurance claims</a>
              </li>
              <li>
                <a href="/news/2017-10-19/googles-new-ai-learns-without-human-input-to-win-complex-game/9065562">Google&#039;s new AI learns without human input to win complex Chinese game</a>
              </li>
              <li>
                <a href="/news/2017-10-19/mckayla-maroney-alleges-sexually-assaulted-by-team-doctor/9065060">Gymnast McKayla Maroney says team doctor sexually abused her for years</a>
              </li>
              <li>
                <a href="/news/2017-10-19/giant-robot-fight-ends-in-disappointing-chainsaw-massacre/9065168">Chainsaws at yawn: MegaBot duel a giant fizzer</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="c25l">
          <div class="section">
            <h2>Just In</h2>
            <ul class="headlines">
              <li>
                <a href="/news/2017-10-19/citizenship-test-english-language-test-criticised-by-labor/9066530">Labor compares citizenship test&#039;s English requirements to White Australia Policy</a>
              </li>
              <li>
                <a href="/news/2017-10-19/forrestfield-tunnel-toxic-pfas-soil-dump-future-uncertain/9066212">That toxic soil from the new Perth airport link? The WA Government doesn&#039;t know what to do with it</a>
              </li>
              <li>
                <a href="/news/2017-10-19/national-gallery-exhibition-hyper-real/9066490">Silicon skin and glass eyes see NGA get freakish with hyperrealism</a>
              </li>
              <li>
                <a href="/news/rural/2017-10-19/concern-energy-policy-will-stymie-growth-in-battery-storage/9061948">Battery storage could be hard hit by new energy policy </a>
              </li>
              <li>
                <a href="/news/2017-10-19/googles-new-ai-learns-without-human-input-to-win-complex-game/9065562">Google&#039;s new AI learns without human input to win complex Chinese game</a>
              </li>
              <li>
                <a href="/news/2017-10-19/westpac-to-refund-200000-customers-after-discount-blunder/9066574">Westpac to refund $65m to 200,000 customers after discounts blunder</a>
              </li>
              <li>
                <a href="/news/2017-10-19/pathwest-dna-mixup-in-multiple-cases-report-finds/9066734">Report into PathWest governance finds errors in six criminal cases</a>
              </li>
              <li>
                <a href="/news/2017-10-19/search-operation-now-a-recovery-mission-missing-trawler-crew-qld/9066534">Finding missing trawlers alive &#039;would be a miracle&#039;</a>
              </li>
              <li>
                <a href="/news/2017-10-19/stolen-truck-baby-formula-charged/9066348">Man charged over police chase involving stolen truck full of baby formula</a>
              </li>
              <li>
                <a href="/news/2017-10-19/dead-whale-to-be-exhumed-wurtulla-beach-qld-sunshine-coast/9066306">Whale to be exhumed from Wurtulla Beach on Queensland&#039;s Sunshine Coast</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="c25l">
          <div class="section">
            <h2>Most Popular</h2>
            <ul class="headlines">
              <li>
                <a href="/news/2017-10-18/donald-trump-denies-saying-fabricated-remarks-to-widow/9062240">Trump says congresswoman &#039;totally fabricated&#039; comments to soldier&#039;s widow</a>
              </li>
              <li>
                <a href="/news/2017-10-19/you-decide-would-you-remove-these-children/8103416">You decide: Would you remove these children from their families?</a>
              </li>
              <li>
                <a href="/news/2017-10-19/john-kelly-donald-trump-fallen-soldier-controversy/9064650">Trump&#039;s chief of staff Kelly &#039;disgusted&#039; his son&#039;s death has been politicised</a>
              </li>
              <li>
                <a href="/news/2017-10-18/man-who-filmed-sydney-party-gang-rape-of-16yo-jailed/9063052">&#039;She&#039;ll do us one by one&#039;: Man jailed for filming house party gang rape on Go Pro</a>
              </li>
              <li>
                <a href="/news/2017-10-19/trump-sends-cheque-to-family-of-war-dead-after-june-promise/9065406">Trump&#039;s $25k cheque for slain soldier&#039;s family &#039;sent&#039; after family questions whereabouts</a>
              </li>
              <li>
                <a href="/news/2017-10-18/words-that-dont-mean-what-you-think-they-mean/8846540">Quiz: Words that don&#039;t mean what you think</a>
              </li>
              <li>
                <a href="/news/2017-10-19/employment-boom-bypassing-entry-level-job-seekers-anglicare-says/9062620">Mitchell is looking for a job — any job — but he&#039;s been unemployed for a year</a>
              </li>
              <li>
                <a href="/news/2017-10-18/citizenship-bill-headed-for-senate-doom-despite-dutton-changes/9062412">Wannabe Aussies get green light for easier citizenship test</a>
              </li>
              <li>
                <a href="/news/2017-10-19/giant-robot-fight-ends-in-disappointing-chainsaw-massacre/9065168">Chainsaws at yawn: MegaBot duel a giant fizzer</a>
              </li>
              <li>
                <a href="/news/2017-10-17/lisa-wilkinson-channel-nine-bought-a-pr-disaster-for-$200,000/9058950">For a measly $200,000, Channel Nine has bought a PR disaster</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="c25r">
          <div class="section">
            <h2>Analysis &amp; Opinion</h2>
            <ul class="headlines">
            <li>
                <a href="/news/2017-10-19/gig-economy-workers-left-short-superannuation-guarantee/9063114">Guaranteed super? Not if you&#039;re a worker in the &#039;gig economy&#039;</a>
              </li>
              <li>
                <a href="/news/2017-10-19/sleep-why-we-need-it-and-what-happens-when-we-dont-get-enough/9062534">Why our brain needs sleep — and what happens when we don&#039;t get enough</a>
              </li>
              <li>
                <a href="/news/2017-10-19/jane-caro-how-ageism-warps-euthanasia-debate/9063628">Opinion: Ageism warps the euthanasia debate</a>
              </li>
              <li>
                <a href="/news/2017-10-19/national-energy-guarantee-trifecta-missing-detail/9063500">Turnbull wants us to bet on an energy trifecta without seeing the detail</a>
              </li>
              <li>
                <a href="/news/2017-10-19/anatomy-of-a-market-crash:-a-history-of-irrational-behaviour/9063908">Anatomy of a market crash: A brief history of irrational behaviour</a>
              </li>
              <li>
                <a href="/news/2017-10-18/xi-jinping-had-something-for-everyone-but-little-detail/9063882">Xi Jinping&#039;s speech had something for everyone, but little detail</a>
              </li>
              <li>
                <a href="/news/2017-10-18/why-marawis-300,000-odd-refugees-dont-blame-islamic-state/9063726">Why Marawi&#039;s 300,000-odd refugees don&#039;t blame Islamic State</a>
              </li>
              <li>
                <a href="/news/2017-10-18/people-will-be-mad-george-saunders-won-the-booker-heres-why/9061328">People will be mad George Saunders won the Booker, here&#039;s why</a>
              </li>
              <li>
                <a href="/news/2017-10-18/health-insurance-dont-blame-young-people-for-rising-premiums/9061936">Don&#039;t blame young people for your rising healthcare costs</a>
              </li>
              <li>
                <a href="/news/2017-10-18/analysis-malcolm-turnbulls-energy-relies-on-fed-up-voters/9060836">Fed-up voters may get the PM&#039;s energy plan across the line</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- C modules - end -->
    <div id="footer" class="page section">
      <!-- program footer-->
      <div class="subcolumns">
        <div id="sitemap" class="c75l">
          <div class="section">
            <h2>Site Map</h2>
          </div>
          <div class="subcolumns">
            <div class="c16l">
              <div class="section">
                <h3>Sections</h3>
                <ul class="nav">
                  <li><a href="/news/"><span>ABC News</span></a></li>
                  <li><a href="/news/justin/"><span>Just In</span></a></li>
                  <li><a href="/news/australia/"><span>Australia</span></a></li>
                  <li><a href="/news/world/"><span>World</span></a></li>
                  <li><a href="/news/business/"><span>Business</span></a></li>
                  <li><a href="/news/entertainment/"><span>Entertainment</span></a></li>
                  <li><a href="/news/sport/"><span>Sport</span></a></li>
                  <li><a href="/news/analysis-and-opinion/"><span>Analysis &amp; Opinion</span></a></li>
                  <li><a href="/news/weather/"><span>Weather</span></a></li>
                  <li><a href="/news/topics/"><span>Topics</span></a></li>
                  <li><a href="/news/archive/"><span>Archive</span></a></li>
                  <li><a href="/news/corrections/"><span>Corrections &amp; Clarifications</span></a></li>
                </ul>
              </div>
            </div>
            <div class="c16l">
              <div class="section">
                <h3>Local Weather</h3>
                <ul class="nav">
                  <li><a href="http://www.abc.net.au/sydney/weather/"><span>Sydney Weather</span></a></li>
                  <li><a href="http://www.abc.net.au/melbourne/weather/"><span>Melbourne Weather</span></a></li>
                  <li><a href="http://www.abc.net.au/adelaide/weather/"><span>Adelaide Weather</span></a></li>
                  <li><a href="http://www.abc.net.au/brisbane/weather/"><span>Brisbane Weather</span></a></li>
                  <li><a href="http://www.abc.net.au/perth/weather/"><span>Perth Weather</span></a></li>
                  <li><a href="http://www.abc.net.au/hobart/weather/"><span>Hobart Weather</span></a></li>
                  <li><a href="http://www.abc.net.au/darwin/weather/"><span>Darwin Weather</span></a></li>
                  <li><a href="http://www.abc.net.au/canberra/weather/"><span>Canberra Weather</span></a></li>
                </ul>
              </div>
            </div>
            <div class="c16l">
              <div class="section">
                <h3>Local News</h3>
                <ul class="nav">
                  <li><a href="http://www.abc.net.au/sydney/news/"><span>Sydney News</span></a></li>
                  <li><a href="http://www.abc.net.au/melbourne/news/"><span>Melbourne News</span></a></li>
                  <li><a href="http://www.abc.net.au/adelaide/news/"><span>Adelaide News</span></a></li>
                  <li><a href="http://www.abc.net.au/brisbane/news/"><span>Brisbane News</span></a></li>
                  <li><a href="http://www.abc.net.au/perth/news/"><span>Perth News</span></a></li>
                  <li><a href="http://www.abc.net.au/hobart/news/"><span>Hobart News</span></a></li>
                  <li><a href="http://www.abc.net.au/darwin/news/"><span>Darwin News</span></a></li>
                  <li><a href="http://www.abc.net.au/canberra/news/"><span>Canberra News</span></a></li>
                </ul>
              </div>
            </div>
            <div class="c16l">
              <div class="section">
                <h3>Media</h3>
                <ul class="nav">
                  <li><a href="/news/video/"><span>Video</span></a></li>
                  <li><a href="/news/audio/"><span>Audio</span></a></li>
                  <li><a href="/news/photos/"><span>Photos</span></a></li>
                </ul>
              </div>
            </div>
            <div class="c16l">
              <div class="section">
                <h3>Subscribe</h3>
                <ul class="nav">
                  <li><a href="/news/feeds/"><span>Podcasts</span></a></li>
                  <li><a href="/news/feeds/rss/"><span>RSS Feeds</span></a></li>
                  <li><a href="/news/alerts/"><span>NewsMail</span></a></li>
                </ul>
              </div>
            </div>
            <div class="c16l">
              <div class="section">
                <h3>Connect</h3>
                <ul class="nav">
                  <li><a href="/news/upload/"><span>Upload</span></a></li>
                  <li><a href="/news/contact/"><span>Contact Us</span></a></li>
                  <li><a href="/news/analysis-and-opinion/"><span>Suggest a Contributor</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- right section-->
        <div class="c25r">
          <div id="fineprint" class="section">
            <p>
              <small>This service may include material from Agence France-Presse (AFP), APTN, Reuters, AAP, CNN and the BBC World
                Service which is copyright and cannot be reproduced.</small>
            </p>
            <p>
              <small>AEDT = Australian Eastern Daylight Savings Time which is 11 hours ahead of UTC (Greenwich Mean Time)</small>
            </p>
          </div>
        </div>
      </div>
      <div class="platforms">
        <a href="http://mobile.abc.net.au/news/2017-10-19/you-decide-would-you-remove-these-children/8103416?pfm=sm" class="platform-mobile switch">Change to mobile view</a>
      </div>
    </div>
  </div>
  <nav id="abcFooter" class="global" role="navigation" aria-label="ABC Footer Navigation" data-version="2.0.5">
    <ul>
      <li>
        <a class="abcLink" href="http://www.abc.net.au/conditions.htm" data-mobile="http://www.abc.net.au/conditions.htm">Terms of Use</a>
      </li>
      <li>
        <a class="abcLink" href="http://about.abc.net.au/abc-privacy-policy/" data-mobile="http://about.abc.net.au/abc-privacy-policy/">Privacy Policy</a>
      </li>
      <li>
        <a class="abcLink" href="http://www.abc.net.au/contact/" data-mobile="http://www.abc.net.au/contact/">Contact Us</a>
      </li>
      <li>
        <a class="abcLink" href="http://www.abc.net.au/conditions.htm#UseOfContent" data-mobile="http://www.abc.net.au/conditions.htm#UseOfContent">&copy;
          <time><%= new Date().getFullYear() %></time> ABC</a>
      </li>
    </ul>
  </nav>
  <script type="text/javascript" src="http://www.abc.net.au/res/bundles/2.0.5/scripts/abc.bundle.2.0.5.min.js"></script>
</body>

</html>